@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown .css-pm29xt-control {
  height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}
